@import '~antd/dist/antd.css';

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

html, body, #root{
  height: 100%;

}

.layout{
  min-height: 100%;
}

.form {
  border: 2px solid skyblue;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}